.container {
    width: 100%;
    margin: 0 auto;
}
.card {
    padding: 1rem;
    border-radius: 20px;
    background: rgb(143, 142, 142);
    border: 2px solid red;
    max-width: 200px;
}
.card-body {
    font-size: 1rem;
    padding: .8rem;
    color: #000;
}